[dcss]
username={{ BDA_USERNAME }}
password={{ BDA_PASSWORD }}
interval_ch_01={{ CHANNEL_01_INTERVAL }}
interval_ch_05={{ CHANNEL_05_INTERVAL }}
interval_ch_13={{ CHANNEL_13_INTERVAL }}

[influxdb]
dbname = {{ INFLUX_DBNAME }}
user = {{ INFLUX_USER }}
passwd = {{ INFLUX_PASSWD }}
measurement = {{ INFLUX_MEASUREMENT }}
host = {{ INFLUX_HOST }}
port = {{ INFLUX_PORT }}
